@import '~/assets/scss/resources.scss';

.contacts-form {
  display: inherit;
  flex-direction: column;
  width: 49%;
  text-align: center;
  align-items: center;

  &-wrap {
    width: 80%;

    .if-questions {
      text-align: left;
      margin-bottom: 0;

      .write-to-us {
        color: $linksOnHoverColor;
        font-weight: bold;
      }
    }

    .feedback-form {
      input, textarea {
        width: 100%;
        background-color: white;
        border-width: 2px;
        border-color: rgb(212, 208, 209);
        border-style: solid;
      }

      input[placeholder], textarea[placeholder] {
        text-align: center;
        font-size: $mdMainFontSize;
      }

      input {
        height: 40px;
      }

      .input-submit-button {
        cursor: pointer;
        font-size: $mdMainFontSize;
        border-radius: 30px;
        border-style: none !important;
        color: $buttonsOnHoverColor;
        background-color: $secondaryElementsColor !important;
        height: 40px;
        width: 39%;
        padding: 0;
        -webkit-appearance: none;
        &[value]{
          text-align: center;
          text-align: -webkit-center;
        }
      }
    }
  }

  .policy-agreement {
    margin-top: 0;

    a {
      color: $linksOnHoverColor;
    }
  }
}

@media screen and (min-width: $xxlWidth) {
  .contacts-form-wrap {
    .feedback-form {
      .input-submit-button {
        width: 148px;
      }
    }
  }
}

@media screen and (max-width: $xxlWidth) {
  .contacts-form {
    &-wrap {
      .if-questions {
        font-size: $mdMainFontSize;

        .write-to-us {
          font-size: $mdMainFontSize;
        }
      }
    }
  }
}

@media screen and (max-width: $lgWidth) {
  .contacts-form-wrap {
    .feedback-form {
      .input-submit-button {
        height: 35px;
        width: 40%;
        &[value]{
          font-size: $mdMainFontSize;
        }
      }
    }
  }
}

@media screen and (max-width: $smWidth) {
  .contacts-form-wrap {
    .if-questions{
      text-align: center;
    }
    .feedback-form {
      .input-submit-button {
        width: 25%;
      }
    }
  }
}

@media screen and (max-width: $sWidth) {
  .contacts-form-wrap {
    .feedback-form {
      .input-submit-button {
        width: 41%;
      }
    }
  }
}

@media screen and (max-width: $xsWidth) {
  .contacts-form-wrap {
    .feedback-form {
      .input-submit-button {
        font-size: 15px;
        width: 49%;
      }
    }
  }
}


