@import '~/assets/scss/vars.scss';

.main-page-layout{
  width: 67%;
  margin: 0 auto;
}

@media screen and(min-width: $xxxxlWidth){
  .main-page-layout{
    width: 58%;
  }
}

//@media screen and (min-width: #{$xlWidth + 1px}) and (max-width: $xxlWidth){
//  .main-page-layout{
//    width: 70%;
//  }
//}
//
//@media screen and (min-width: #{$lgWidth + 1px}) and (max-width: $xlWidth){
//  .main-page-layout{
//    width: 80%;
//  }
//}
//
//@media screen and (min-width: #{$mdWidth + 1px}) and (max-width: $lgWidth){
//  .main-page-layout{
//    width: 85%;
//  }
//}

@media screen and (max-width: $mdWidth){
  .main-page-layout{
    width: 100%;
  }
}