@import '~/assets/scss/vars.scss';

.main-page-layout{
  width: 67%;
  margin: 0 auto;
  max-width: 1117px;
  h1, h2{
    text-align: center;
  }
}

@media screen and(min-width: $xxxxlWidth){
  .main-page-layout{
    width: 58%;
  }
}

@media screen and (max-width: $mdWidth){
  .main-page-layout{
    width: 100%;
    font-size: $mdMainFontSize;
  }
}

@media screen and (max-width: $smWidth){
  .main-page-layout{
    font-size: $smMainFontSize;
  }
}