@import '~/assets/scss/resources.scss';

.welcome-block {
  &-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    .flex-container-welcome {
      display: flex;
      flex-direction: column;
      align-items: center;

      .under-slider-text {
        width: 82%;
        margin: 20px auto 0;
        text-align: center;
        font-size: $xlMainFontSize;
        line-height: 30px;
        font-weight: lighter;
      }

      .main-sign-up-button {
        background-color: $mainElementsColor;
        font-size: $xlMainFontSize;
        line-height: 47px;
        width: 25%;
        max-width: 183px;
        height: 47px;
        border-radius: 32px;
        margin-top: 24px;
      }
    }

    .welcome-block-options {
      .flex-container-options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &:last-child {
          margin: 30px 0 20px;
        }
      }
    }
  }

  &-carousel-wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: no-content;

    h3 {
      text-align: center;
      color: rgb(19, 18, 18);
      font-weight: 600;
    }
  }
}

@media screen and (max-width: $xxlWidth) {
  .welcome-block {
    &-container {
      .flex-container-welcome {
        .under-slider-text {
          width: 90%;
        }

        .main-sign-up-button {
          width: 26%;
        }
      }
    }
  }
}

@media screen and (max-width: $xlWidth) {
  .welcome-block {
    &-container {
      .flex-container-welcome {
        .under-slider-text {
          width: 98%;
        }

        .main-sign-up-button {
          width: 27%;
        }
      }
    }

    &-carousel-wrapper {
      h3 {
        font-size: 22px;
      }
    }
  }
}

@media screen and (max-width: $lgWidth) {
  .welcome-block {
    &-container {
      .flex-container-welcome {
        .under-slider-text {
          width: 100%;
        }

        .main-sign-up-button {
          width: 31%;
        }
      }
    }
  }
}

@media screen and (max-width: $mdWidth) {
  .welcome-block {
    &-container {
      .flex-container-welcome {
        .under-slider-text {
          width: 100%;
        }

        .main-sign-up-button {
          width: 25%;
        }
      }
    }
  }
}

@media screen and (max-width: $smWidth) {
  .welcome-block {
    &-container {
      width: 98%;
      margin: 0 auto 15px;

      .flex-container-welcome {
        .under-slider-text {
          font-size: $smMainFontSize;
          line-height: 19px;
          margin-top: 11px;
        }

        .main-sign-up-button {
          font-size: $mdMainFontSize;
          width: 138px;
          height: 36px;
          line-height: 36px;
          margin-top: 21px;
        }
      }
    }

    &-options {
      display: none;
    }

    &-carousel-wrapper {
      display: none;
    }

  }
}

@media screen and (max-width: $sWidth) {
  .welcome-block {
    &-container {
      .flex-container-welcome {
        .main-sign-up-button {
          width: 130px;
          height: 34px;
          line-height: 34px;
          margin-top: 15px;
        }
      }
    }
  }
}


@media screen and (max-width: $xsWidth) {
  .main-sign-up-button {
    margin-top: 15px;
  }
}