@import '~/assets/scss/resources.scss';

.welcome-block {
  &-container {
    width: 86%;
    margin: 0 auto;
    text-align: center;

    .flex-container-welcome {
      display: flex;
      flex-direction: column;
      align-items: center;

      .under-slider-text {
        width: 82%;
        margin: 0 auto;
        text-align: center;
        font-size: 23px;
        padding-top: 13px;
        line-height: 30px;
        font-weight: lighter;
      }

      .main-sign-up-button {
        background-color: $mainElementsColor;
        font-size: 30px;
        line-height: 60px;
        width: 27%;
        height: 65px;
        border-radius: 32px;
        margin-top: 32px;
      }
    }

    .welcome-block-options {
      .flex-container-options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;

        &:last-child {
          margin: 40px 0;
        }
      }
    }
  }

  &-carousel-wrapper {
    h3 {
      text-align: center;
      color: rgb(19, 18, 18);
      font-size: 25px;
      font-family: $mainFontBold;
      font-weight: normal;
    }
  }
}

//@media screen and (max-width: $xxlWidth){
//  .welcome-block {
//    &-container {
//      .flex-container-welcome {
//        .under-slider-text{
//          width: 99%;
//          font-size: 20px;
//        }
//
//        .main-sign-up-button {
//          font-size: 26px;
//          width: 30%;
//          height: 56px;
//          margin-top: 26px;
//        }
//      }
//    }
//  }
//}

@media screen and (min-width: $xxxlWidth) {
  .welcome-block {
    &-container {
      .flex-container-welcome {
        .main-sign-up-button {
          width: 270px;
        }
      }
    }
  }
}

@media screen and (max-width: $xxlWidth) {
  .welcome-block {
    &-container {
      .flex-container-welcome {
        .under-slider-text {
          width: 90%;
        }
      }
    }
  }
}

@media screen and (max-width: $xlWidth) {
  .welcome-block {
    &-container {
      .flex-container-welcome {
        .under-slider-text {
          width: 91%;
        }

        .main-sign-up-button {
          font-size: 24px;
          line-height: 47px;
          height: 50px;
          width: 31%;
        }
      }
    }

    &-carousel-wrapper {
      h3 {
        font-size: 22px;
      }
    }
  }
}

@media screen and (max-width: $smWidth) {

  .welcome-block {
    &-container {
      width: 98%;
      margin: 0 auto 15px;

      .flex-container-welcome {
        .under-slider-text {
          font-size: $smMainFontSize;
          line-height: 19px;
        }

        .main-sign-up-button {
          font-size: $mdMainFontSize;
          width: 40%;
          height: 40px;
          margin-top: 23px;
        }
      }
    }

    &-options {
      display: none;
    }

    &-carousel-wrapper {
      display: none;
    }

  }
}

@media screen and (max-width: #{$xsWidth + 2px}) {
  .main-sign-up-button {
    width: 32%;
  }
}