@import '~/assets/scss/resources.scss';

.nav {
  overflow: visible;

  &-container {
    width: 86%;
    margin: 0 auto;

    .wrap {
      height: 50px;
      display: flex;
      box-shadow: 0 0 1px 0 #514f4c;
      align-items: center;

      .nav-list {
        width: 70%;
        height: inherit;
        margin: 0 auto;
        padding: 0;
        display: inherit;
        list-style-type: none;
        justify-content: space-between;

        &-item {
          height: inherit;
          font-size: $lgMainFontSize;
          line-height: 50px;

          .schedule-links {
            display: none;
            width: 13%;
          }

          .schedule-arrow {
            margin-bottom: 4px;
            width: 11px;
          }
        }

        :nth-child(2):hover {
          .schedule-links {
            display: block;
            margin-left: -15px;
            border-top: none;
            border-left: 1px solid #dddddd;
            border-right: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            position: absolute;
            height: 70px;
            background-color: $mainBackgroundColor;
            z-index: 500;

            ul {
              list-style-type: none;
              padding: 0;
              li {
                a{
                  display: block;
                  font-size: $mdMainFontSize;
                  line-height: 35px;
                  padding-left: 15px;
                }
                a:hover{
                  background-color: $mainElementsColor;
                }
              }

            }
          }
        }

      }
    }
  }
}

@media (max-width: $xxlWidth) {
  .nav {
    &-container {
      .wrap {
        .nav-list {
          width: 75%;
        }

      }
    }
  }
}

@media (max-width: $xlWidth) {
  .nav {
    &-container {
      .wrap {
        .nav-list {
          width: 85%;
          font-size: #{$lgMainFontSize - 2px};

          &-item {
            .schedule-links {
              width: 15%;
            }
          }

        }

      }
    }
  }
}

@media (max-width: $mdWidth) {
  .nav-container {
      .wrap {
        .nav-list {
          &-item {
            .schedule-links {
              width: 18%;
            }
          }
        }
      }
  }
}

@media (max-width: $smWidth) {
  .nav{
    display: none;
  }
}
