@import '~/assets/scss/resources.scss';

.gallery-section{
  h3{
    text-align: center;
  }
  .gallery-items-wrap{
    display: flex;
    flex-direction: row;
    width: inherit;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .gallery-item{
    margin: 10px;
  }
}

@media screen and (max-width: 480px){
  .gallery-section{
    width: 100%;
    .gallery-item{
      img{
        width: 220px;
      }
    }
  }
}
