@import '~/assets/scss/vars.scss';

.free-studio {
  h3{
    color: $linksOnHoverColor;
  }

  ul{
    padding: 0 12px;
  }
  .footer {
    display: none;
  }

  &-container {
    .free-studio-picture {
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $smWidth) {
  .free-studio {
    .footer {
      display: block;
    }
  }
}