@import '~/assets/scss/resources.scss';

.free-studio {
  margin: 0 auto 20px auto;
  .footer {
    display: none;
  }

  h3 {
    color: $linksOnHoverColor;
  }

  ul {
    padding: 0 12px;
  }

  &-container {
    .free-studio-picture {
      img {
        width: 100%;
      }
    }
  }
}

/*MOBILE*/
@media screen and (max-width: $smWidth) {
  .free-studio {
    width: 97%;
    .footer {
      display: block;
    }
  }
}