@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato/Lato-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato bold';
  src: url('/assets/fonts/Lato/Lato-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
