/* базовый размер шрифта */
$xlMainFontSize: 22px;
$lgMainFontSize: 20px;
$mdMainFontSize: 16px;
$smMainFontSize: 14px;
$xsMainFontSize: 12px;

/* размеры экранов для медиазапросов */
$xxxxlWidth: 2900px;
$xxxlWidth: 1700px;
$xxlWidth: 1380px;
$xlWidth: 1198px;
$lgWidth: 1026px;
$mdWidth: 880px;
$smWidth: 750px;
$sWidth: 480px;
$xsWidth: 328px;

/* шрифты: */
$mainFont: 'Lato', sans-serif;
$mainFontBold: 'Lato bold', sans-serif;

/* цвета шрифтов: */
$mainFontColor: #000000;
$secondaryFontColor: #676764;
$linksOnHoverColor: #d44b3d;
$buttonsOnHoverColor: #ffffff;

/* цвета фонов: */
$mainBackgroundColor: #ffffff;
$secondaryBackgroundColor: #ebebeb;
$mainElementsColor: #fae307;
$secondaryElementsColor: #d44b3d;


