@import '~/assets/scss/resources.scss';

.main-advantages{
  height: 130px;
  margin-top: 66px;
  background-color: $secondaryBackgroundColor;
  .flex-container-numbers{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    .advantages-number{
      font-size: 110px;
      color: #cec7c9;
    }
  }
  .flex-container-text{
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -171px;
    .main-advantages__item{
      width: 28%;
      color: $mainFontColor;
      h3{
        text-align: center;
        font-size: $xlMainFontSize;
      }
      .advantages-text{
        text-align: justify;
        font-size: 16px;
      }
    }
  }
}