@import '~/assets/scss/resources.scss';
.mobile-advantages{
  display: none;
}

.main-advantages {
  height: 130px;
  margin-top: 66px;
  background-color: $secondaryBackgroundColor;

  .flex-container-numbers {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;

    .advantages-number {
      font-size: 110px;
      color: #cec7c9;
    }
  }

  .flex-container-text {
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -171px;

    .main-advantages__item {
      width: 28%;
      color: rgb(10, 18, 11);

      h3 {
        text-align: center;
        font-size: $xlMainFontSize;
      }

      .advantages-text {
        text-align: justify;
        font-size: $mdMainFontSize;
      }
    }
  }
}

@media screen and (max-width: $xxlWidth) {
  .main-advantages {
    height: 162px;

    .flex-container-numbers {
      .advantages-number {
        font-size: 135px;
        line-height: 96px;
      }
    }

    .flex-container-text {
      margin-top: -142px;
      .main-advantages__item {
        width: 30%;
        margin-left: 30px;
        h3 {
          text-align: left;
          font-size: #{$lgMainFontSize - 1px};
        }

        .advantages-text {
          text-align: left;
          margin-top: -15px;
        }
      }
    }
  }
}

@media screen and (max-width: $lgWidth) {
  .main-advantages {
    .flex-container-text {
      .main-advantages__item {
        margin-left: 27px;
        h3 {
          font-size: #{$lgMainFontSize - 2px};
        }
        .advantages-text {
          font-size: #{$mdMainFontSize - 1px};
        }
      }
    }
  }
}

@media screen and (max-width: $smWidth){
  .main-advantages{
    display: none;
  }

  .mobile-advantages{
    display: block;
    width: 100%;
    &__item{
      .mobile-advantages-number{
        z-index: 5;
        font-size: 85px;
        color: #d3d0d1;
        margin-top: 10px;
      }

      h3{
        z-index: 10;
        font-size: $lgMainFontSize;
        margin-top: -102px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
      }
      .mobile-advantages-text{
        height: 85px;
        z-index: 3;
        background-color: $secondaryBackgroundColor;
        margin-top: -25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .text-wrap{
          z-index: 7;
          font-size: $smMainFontSize;
        }
      }
      .mobile-advantages-image{
        width: inherit;
        img{
          width: 100%;
        }
      }
      .mobile-advantages-number, h3{
        text-align: left;
      }
    }
    &__item:nth-child(2){
      .mobile-advantages-number, h3{
        text-align: right;
      }
    }
  }

}
