@import '~/assets/scss/resources.scss';

.footer {
  height: 360px;
  background-color: $secondaryBackgroundColor;

  &-container {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: $mainFontBold;
  }

  &-main-info {
    p{
      font-size: 24px;
      margin: 0;
      padding-bottom: 7px;
      &:first-child{
        font-size: 28px;
        padding-top: 11px;
      }
      &:last-child{
        font-size: 14px;
        color: $secondaryFontColor;
      }
    }
  }

  &-main-info, &-icons {
    text-align: center;
  }
  &-link-to-main{
    h2{
      margin: 0;
      padding-top: 35px;
    }
  }

  &-icons {
    padding-left: 3px;
    img {
      width: 25%;
      &:last-child{
        padding-left: 4px;
      }
    }
  }

  &-link-to-policy{
    font-size: 14px;
    a{
      color: $secondaryFontColor;
    }
  }
}

@media (max-width: $smWidth){
  .footer {
    height: 215px;
    &-container {
      flex-direction: column;
      align-items: flex-start;
      justify-content: normal;
    }
    &-main-info{
      text-align: left;
      p{
        font-size: $lgMainFontSize;
        &:first-child{
          font-size: $xlMainFontSize;
        }
      }
    }
    &-link-to-main{
      h2{
        padding: 0;
        font-size: $lgMainFontSize;
      }
    }

    &-icons {
      text-align: left;
      padding-left: 4px;
      margin: 7px 0;
      img {
        width: 20%;
        &:last-child{
          padding-left: 4px;
        }
      }
    }
  }
}