@import '~/assets/scss/resources.scss';

.footer {
  width: 100%;
  margin: 0 auto;
  height: 360px;
  background-color: $secondaryBackgroundColor;
  text-align: center !important;

  &-container {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .footer-info {
      width: 100%;

      .footer-main-info {
        p {
          font-size: 22px;
          margin: 0;
          padding-bottom: 7px;

          &:first-child {
            font-size: 24px;
            font-weight: bold;
          }

          &:nth-child(3) {
            font-size: 24px;
            word-spacing: 8px
          }

          &:last-child {
            font-size: 16px;
            color: $secondaryFontColor;
          }
        }
      }
    }
  }

  &-link-to-main {
    h2 {
      margin: 0;
      font-size: 24px;
      padding-top: 22px;
    }
  }

  &-icons {
    padding-left: 3px;

    img {
      width: 25%;

      &:last-child {
        padding-left: 4px;
      }
    }
  }

  &-link-to-policy {
    font-size: 14px;
    width: 100%;

    a {
      color: $secondaryFontColor;
    }
  }
}

/*MOBILE*/
@media screen and (max-width: $smWidth) {
  .footer {
    height: fit-content;

    &-container {
      flex-direction: column;
      align-items: center;
      justify-content: normal;

      .footer-info {
        .footer-main-info {
          p {
            font-size: #{$lgMainFontSize - 2px};

            &:first-child {
              font-size: $lgMainFontSize;
              padding-top: 12px;
            }

            &:nth-child(3) {
              font-size: 20px;
              word-spacing: 6px;
            }

            &:last-child {
              font-size: 15px;
            }
          }
        }
      }
    }

    &-link-to-main {
      h2 {
        padding: 0;
        font-size: 19px;
      }
    }

    &-icons {
      padding-left: 4px;
      margin: 7px 0;

      img {
        width: 19%;

        &:last-child {
          padding-left: 4px;
        }
      }
    }

    .copyright {
      align-items: center;
      font-size: 13px;
    }
  }
}

@media screen and (max-width: $sWidth) {
  .footer {
    .footer-info {
      .footer-main-info {
        p {
          font-size: 15px;

          &:first-child {
            font-size: #{$lgMainFontSize - 2px};
          }

          &:nth-child(3) {
            font-size: #{$lgMainFontSize - 3px};
            word-spacing: 4px;
          }

          &:last-child {
            font-size: $xsMainFontSize;
          }
        }
      }
    }

    &-link-to-main {
      h2 {
        font-size: 15px;
      }
    }

    &-link-to-policy {
      font-size: $xsMainFontSize;
    }

    .copyright {
      font-size: $xsMainFontSize;
    }
  }
}

@media screen and (max-width: $xsWidth) {
  .footer {
    &-link-to-main {
      h2 {
        font-size: $smMainFontSize;
      }
    }
  }
}