@import '~/assets/scss/vars.scss';

.options-layout{
  width: 67%;
  margin: 0 auto;
  max-width: 1117px;
  h2{
    text-align: center;
  }
}

@media screen and(min-width: $xxxxlWidth){
  .options-layout{
    width: 58%;
  }
}

@media screen and (max-width: $mdWidth){
  .options-layout{
    width: 100%;
    font-size: $mdMainFontSize;
  }
}

@media screen and (max-width: $smWidth){
  .options-layout{
    width: 100%;
    font-size: $smMainFontSize;
  }
}
