@import '~/assets/scss/resources.scss';
.carousel-students__photo{
  img{
    border: 5px solid #ffffff;
  }
}
@media screen and (max-width: $xxxxlWidth) {
  .carousel-students__photo{
    img{
      height: 430px;
    }
  }
}


@media screen and (max-width: $xxlWidth) {
  .carousel-students__photo{
    img{
      height: 400px;
    }
  }
}

@media screen and (max-width: $xlWidth) {
  .carousel-students__photo{
    img{
      height: 330px;
    }
  }
}

@media screen and (max-width: $mdWidth) {
  .carousel-students__photo{
    img{
      height: 280px;
    }
  }
}
