@import '~/assets/scss/vars.scss';

.workshop-container{
  width: 100%;
  margin: 0 auto;
  .workshop-images {
    img {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: $xxlWidth) {
  .workshop-images {
    img {
      height: 550px;
    }
  }
}

@media screen and (max-width: $xlWidth) {
  .workshop-images {
    img {
      height: 420px;
    }
  }
}

@media screen and (max-width: $lgWidth) {
  .workshop-images {
    img {
      height: 490px;
    }
  }
}

@media screen and (max-width: $mdWidth) {
  .workshop-images {
    img {
      height: 450px;
    }
  }
}


@media screen and (max-width: $smWidth) {
  .workshop-container{
    width: 97%;
    margin: 0 auto 26px auto;
  }
  .workshop-description{
    .workshop-details{
      width: 97%;
      margin: 0 auto;
    }
  }
  .workshop-images {
    img {
      height: 450px;
    }
  }
}

@media screen and (max-width: $sWidth) {
  .workshop-images {
    img {
      height: 200px;
    }
  }
}

@media screen and (max-width: $xsWidth) {
  .workshop-images {
    img {
      height: 170px;
    }
  }
}

@media screen and (min-width: $xxlWidth) {
  .workshop-images {
    img {
      height: 640px;
    }
  }
}
