@import '~/assets/scss/vars.scss';

.workshop-container{
  width: 86%;
  margin: 0 auto;
}

@media screen and (max-width: $xxlWidth) {
  .workshop-images {
    img {
      width: 100%;
      height: 670px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: $xlWidth) {
  .workshop-images {
    img {
      width: 100%;
      height: 650px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: $lgWidth) {
  .workshop-images {
    img {
      width: 100%;
      height: 600px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: $mdWidth) {
  .workshop-images {
    img {
      width: 100%;
      height: 570px;
      margin: 0 auto;
    }
  }
}


@media screen and (max-width: $smWidth) {
  .workshop-images {
    img {
      height: 450px;
    }
  }
}

@media screen and (max-width: 480px) {
  .workshop-images {
    img {
      height: 290px;
    }
  }
}

@media screen and (max-width: $xsWidth) {
  .workshop-images {
    img {
      height: 220px;
    }
  }
}

@media screen and (min-width: $xxlWidth) {
  .workshop-images {
    img {
      width: 100%;
      margin: 0 auto;
      height: 670px;
    }
  }
}
