@import '~/assets/scss/resources.scss';

.kids-draw {
  &-mobile-workshops{
    display: none;
  }

  h3, .price, .group, .schedule {
    color: $linksOnHoverColor;
  }

  ul {
    padding: 0 18px;
  }

  .sign-up-button {
    cursor: pointer;
    display: block;
    text-align: center;
    background-color: $mainElementsColor;
    font-size: $xlMainFontSize;
    width: 24%;
    max-width: 182px;
    height: 43px;
    line-height: 43px;
    border-radius: 32px;
    margin: 32px auto;
  }

}

@media screen and (max-width: $xxlWidth) {
  .kids-draw {
    .sign-up-button {
      margin: 26px auto;
    }
  }
}

@media screen and (max-width: $lgWidth) {
  .kids-draw {
    .sign-up-button {
      width: 27%;
    }
  }
}


/*MOBILE*/
@media screen and (max-width: $smWidth) {
  .kids-draw {
    width: 97%;
    margin: 0 auto 20px auto;
    .carousel-kids__photo{
      height: 250px;
    }
    &-mobile-workshops{
      display: block;
    }
    .sign-up-button {
      display: none;
    }
    .workshops-wrapper h3{
      color: $mainFontColor;
    }
  }
}

