@import '~/assets/scss/resources.scss';

.kids-draw {
  &-mobile-workshops{
    display: none;
  }

  h3, .price, .group, .schedule {
    color: $linksOnHoverColor;
  }

  ul {
    padding: 0 18px;
  }

  .sign-up-button {
    cursor: pointer;
    display: block;
    text-align: center;
    background-color: $mainElementsColor;
    font-size: 31px;
    width: 24%;
    height: 66px;
    line-height: 66px;
    border-radius: 32px;
    margin: 32px auto;
  }

}

@media screen and (max-width: $xxlWidth) {
  .kids-draw {
    .sign-up-button {
      font-size: 26px;
      height: 56px;
      line-height: 54px;
      margin: 26px auto;
    }
  }
}

@media screen and (max-width: $lgWidth) {
  .kids-draw {
    .sign-up-button {
      font-size: 24px;
      width: 27%;
    }
  }
}


/*MOBILE*/
@media screen and (max-width: $smWidth) {
  .kids-draw {
    .carousel-kids__photo{
      height: 250px;
    }
    &-mobile-workshops{
      display: block;
    }
    .sign-up-button {
      display: none;
    }
    .workshops-wrapper h3{
      color: $mainFontColor;
    }
  }
}

//@media screen and (max-width: #{$xsWidth + 2px}) {
//  .kids-draw {
//    .sign-up-button {
//      width: 32%;
//    }
//  }
//}
