@import '~/assets/scss/resources.scss';

.adults-draw {
  &-mobile-workshops{
    display: none;
  }

  .school, h3, .price, .group, .schedule {
    color: $linksOnHoverColor;
  }

  ul {
    padding: 0 18px;
  }

  .sign-up-button {
    cursor: pointer;
    text-align: center;
    display: block;
    background-color: $mainElementsColor;
    font-size: 31px;
    width: 24%;
    height: 66px;
    line-height: 66px;
    border-radius: 32px;
    margin: 32px auto;
  }

}

@media screen and (max-width: $xxlWidth) {
  .adults-draw {
    .sign-up-button {
      font-size: 26px;
      height: 56px;
      line-height: 54px;
      margin: 26px auto;
    }
  }
}

@media screen and (max-width: $lgWidth) {
  .adults-draw {
    .sign-up-button {
      font-size: 24px;
      width: 27%;
    }
  }
}

/*MOBILE*/

@media screen and (max-width: $smWidth) {
  .adults-draw{
    width: 97%;
    margin: 0 auto 20px auto;
    .carousel-adults__photo{
      height: 250px;
    }
    &-mobile-workshops{
      display: block;
    }
    .sign-up-button {
      display: none;
    }
    .workshops-wrapper h3{
      color: $mainFontColor;
    }
  }
}

