@import '~/assets/scss/resources.scss';

.adults-draw {
  &-mobile-workshops, &-mobile-header {
    display: none;
  }

  .school, h3, .price, .group, .schedule {
    color: $linksOnHoverColor;
  }

  ul {
    padding: 0 18px;
  }

  .sign-up-button {
    display: block;
    background-color: $mainElementsColor;
    font-size: 31px;
    width: 27%;
    height: 66px;
    border-radius: 32px;
    margin: 32px auto;
  }

}

@media screen and (max-width: $xxlWidth) {
  .adults-draw {
    .carousel-adults__photo{
      height: 350px;
    }
    .sign-up-button {
      font-size: 26px;
      width: 30%;
      height: 56px;
      margin: 26px auto;
    }
  }
}

/*MOBILE*/

@media screen and (max-width: $smWidth) {
  .adults-draw{
    .carousel-adults__photo{
      height: 250px;
    }
    &-mobile-workshops, &-mobile-header{
      display: block;
    }
    .sign-up-button {
      display: none;
    }
    .workshops-wrapper h3{
      color: $mainFontColor;
    }
  }
}

@media screen and (max-width: #{$xsWidth + 2px}) {
  .adults-draw{
    .sign-up-button {
      width: 32%;
    }
  }
}
