@import '~/assets/scss/resources.scss';

.adults-draw {
  &-mobile-workshops {
    display: none;
  }

  &-description {
    .school, h3, .price, .group, .schedule {
      color: $linksOnHoverColor;
    }

    h3 {
      font-weight: 400;
      margin-bottom: 5px;
    }

    ul {
      margin-top: 0;
      padding-left: 16px;

      li {
        padding-bottom: 5px;
      }
    }
  }

  .sign-up-button {
    cursor: pointer;
    text-align: center;
    display: block;
    background-color: $mainElementsColor;
    font-size: $xlMainFontSize;
    width: 24%;
    max-width: 182px;
    height: 43px;
    line-height: 43px;
    border-radius: 32px;
    margin: 32px auto;
  }
}

@media screen and (max-width: $xxlWidth) {
  .adults-draw {
    .sign-up-button {
      margin: 26px auto;
    }
  }
}

@media screen and (max-width: $lgWidth) {
  .adults-draw {
    .sign-up-button {
      width: 27%;
    }
  }
}

/*MOBILE*/

@media screen and (max-width: $smWidth) {
  .adults-draw {
    width: 97%;
    margin: 0 auto 20px auto;

    h2 {
      display: none;
    }

    &-description {
      width: 98%;
      margin: 0 auto;

      ul {
        padding-left: 0;
        list-style-position: inside;
      }

      .group, .schedule {
        display: none;
      }
    }

    &-mobile-workshops {
      display: block;
      margin-top: 30px;
    }

    .sign-up-button {
      display: none;
    }

    .workshops-wrapper h3 {
      color: $mainFontColor;
    }
  }
}


