@import '~/assets/scss/resources.scss';

.privacy-policy{
  width: 100%;
  margin: 0 auto;
  font-size: 15px;
  line-height:22px;
  background-color: $secondaryBackgroundColor;
  border:1px solid #ddd;
  padding: 7px;
}