@import '~/assets/scss/resources.scss';

.main-option {
  width: 40%;
  text-align: center;
  h4{
    font-size: $lgMainFontSize;
  }

  a {
    color: $mainFontColor;
  }

  &-image {
    img {
      width: 80%;
      border-radius: 280px;
      box-shadow: 33px 34px 72px -20px rgba(0,0,0,0.75);
    }
  }
}