@import '~/assets/scss/resources.scss';
*{
  box-sizing: border-box;
}
html, body{
  height: 100%;
  font-family: $mainFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a{
    color: $mainFontColor;
    text-decoration: none;
  }

  h1, h2, h3, h4{
    font-family: $mainFontBold;
    font-size: $xlMainFontSize;
  }
}

@media screen and (max-width: $smWidth){
  html, body{
    h1, h2, h3, h4{
      font-size: 18px;
    }
  }
}
