@import '~/assets/scss/resources.scss';
*{
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
  font-family: $mainFont;
  a{
    color: $mainFontColor;
    text-decoration: none;
  }
}
