@import '~/assets/scss/resources.scss';

.workshops-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  h2 {
    color: #b94d40;
    font-size: 23px;

    .rainbow {
      &-d {
        color: #c22d6c;
      }

      &-e {
        color: #6abad5;
      }

      &-t {
        color: #a8cb2f;
      }

      &-i {
        color: #d27c41;
      }
    }
  }

  .workshops-catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .workshops-unit {
      width: 40%;
      margin-bottom: 30px;
      line-height: 24px;

      h3 {
        font-family: "Lato", sans-serif;
        font-weight: 500;
        font-size: 22px;
      }

      p {
        margin: 2px 0 0 0;
      }

      img {
        box-shadow: -1px 25px 24px 4px rgba(0, 0, 0, 0.09);
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}

@media screen and (max-width: $lgWidth) {
  .workshops-wrapper {
    h2 {
      font-size: #{$lgMainFontSize - 2px};
    }

    h3 {
      font-size: #{$lgMainFontSize - 3px};
    }
  }
}

@media screen and (max-width: $mdWidth) {
  .workshops-wrapper {
    .workshops-catalog {
      .workshops-unit {
        h3 {
          font-size: $mdMainFontSize;
        }
      }
    }
  }
}

@media screen and (max-width: $smWidth) {
  .workshops-wrapper {
    h2 {
      font-size: $mdMainFontSize;
    }

    .workshops-catalog {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .workshops-unit {
        font-size: $smMainFontSize;
        width: 90%;
        line-height: 20px;
      }
    }
  }
}

@media screen and (max-width: $xsWidth) {
  .workshops-wrapper {
    .workshops-catalog {
      .workshops-unit {
        width: 90%;
        height: 285px;

        :nth-child(5) {
          font-size: $xsMainFontSize;
          margin-bottom: 10px;
        }

        img {
          height: 180px;
        }
      }
    }
  }
}
