@import '~/assets/scss/resources.scss';
.carousel-works__photo{
  img{
    border: 5px solid #ffffff;
  }
}

//@media screen and (min-width: $xxlWidth) {
//  .carousel-works__photo{
//    img{
//      width: 98%;
//    }
//  }
//}

@media screen and (max-width: $xxlWidth) {
  .carousel-works__photo{
    img{
      height: 300px;
    }
  }
}

@media screen and (max-width: $xlWidth) {
  .carousel-works__photo{
    img{
      height: 230px;
    }
  }
}

@media screen and (max-width: $mdWidth) {
  .carousel-works__photo{
    img{
      height: 180px;
    }
  }
}
