@import '~/assets/scss/resources.scss';

.header {
  width: 63%;
  margin: 0 auto;

  &-container {
    width: 86%;
    display: flex;
    margin: 0 auto;
    height: 105px;
    align-items: center;
    justify-content: space-around;
  }

  &-logo {
    width: 28%;
    padding-left: 20px;

    img {
      width: 65%;
    }
  }

  &-info {
    width: 30%;
    font-family: $mainFontBold;
    display: inherit;
    flex-direction: column;
    align-items: flex-end;
  }

  &-phone {
    font-size: $xlMainFontSize;
    margin: 0;
  }

  &-working-hours {
    font-size: 12px;
    color: $secondaryFontColor;
    margin: 0;
  }

  &-icons {
    width: 10%;
    padding-left: 10px;

    img {
      width: 35%;
      padding-left: 3px;
    }
  }

  &-link-schedule {
    width: 20%;
    height: 40px;
    border-radius: 35px;
    border: 2px solid $mainElementsColor;
    margin-right: 6px;

    a {
      font-family: $mainFontBold;
      font-size: 16px;
      color: $mainFontColor;
    }
  }
}