@import '~/assets/scss/resources.scss';

.header {
  &-mobile-call-button, &-mobile-nav, &-mobile-nav-button {
    display: none;
  }

  &-container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
  }

  &-logo {
    width: 20%;

    img {
      width: 100%;
    }
  }

  &-info {
    width: 35%;
    font-family: $mainFontBold;
    display: inherit;
    flex-direction: column;
    align-items: flex-end;
  }

  &-phone {
    font-size: $xlMainFontSize;
    margin: 0;
  }

  &-working-hours {
    font-size: 12px;
    color: $secondaryFontColor;
    margin: 4px 0 0 0;
  }

  &-icons {
    width: 12%;
    text-align: center;

    img {
      width: 30%;
      height: 30%;
      margin-right: 4px;
    }
  }

  &-link-schedule {
    text-align: center;
    line-height: 32px;
    width: 21%;
    height: 40px;
    border-radius: 35px;
    border: 2px solid $mainElementsColor;
    margin-right: 6px;

    a {
      font-family: $mainFontBold;
      font-size: 15px;
      color: $mainFontColor;
    }
  }
}

@media screen and (min-width: $xxlWidth) {
  .header {
    &-working-hours {
      font-size: 14px;
    }

    &-link-schedule {
      a {
        font-size: 16px;
      }
    }
  }
}

@media screen and(min-width: $xxxlWidth) {
  .header {
    &-container {
      height: fit-content;
    }

    &-logo {
      width: 20%;

      img {
        width: 85%;
      }
    }

    &-icons {
      img {
        width: 25%;
        height: 25%;
      }
    }

    &-link-schedule {
      width: 220px;
    }

  }
}

@media screen and(max-width: $xlWidth) {
  .header {
    &-phone {
      font-size: 18px;
      margin: 0;
    }

    &-working-hours {
      font-size: 11px;
    }

    &-link-schedule {
      a {
        font-size: 13px;
      }
    }
  }
}

@media screen and(max-width: $lgWidth) {
  .header {
    &-info {
      .header-working-hours{
        margin: 4px 0 0 58px;
      }
    }

    &-link-schedule {
      width: 25%;
    }
  }
}

/* MOBILE */

@media screen and (max-width: $smWidth) {
  .header {
    &-container {
      height: fit-content;
      width: 97%;
      justify-content: space-between;
    }

    &-logo {
      display: inherit;
      width: 50%;
      text-align: center;
    }

    &-info, &-icons, &-link-schedule {
      display: none;
    }

    &-mobile-call-button, &-mobile-nav-button {
      display: inherit;
      width: 25%;
    }

    &-mobile-nav-button {
      .header-mobile-nav {
        display: none;
      }

      img {
        width: 50%;
        height: 50%;
      }
    }

    &-mobile-call-button {
      text-align: right;

      img {
        width: 44%;
      }
    }

    &-mobile-nav-button:hover {
      .header-mobile-nav {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: fit-content;
        width: 72%;
        background-color: $mainBackgroundColor;
        box-shadow: 33px 34px 90px -20px rgba(0, 0, 0, 0.7);
        z-index: 500;

        .mobile-arrow {
          margin-bottom: 2px;
          width: 10px;
        }

        .mobile-stick {
          height: 80px;
          width: 15px;
          margin: 5px;
          float: left;
        }

        ul {
          list-style-type: none;
          padding: 0;
          text-align: left;
          line-height: 30px;
          a{
            display: block;
            padding-left: 20px;
            &:hover{
              background-color: $mainElementsColor;
            }
          }
        }

        &-icons {
          width: 38%;
          padding-left: 10px;
          margin-bottom: 10px;

          img {
            width: 40%;
            padding-left: 3px;
          }
        }
      }
    }
  }
}
