@import '~/assets/scss/resources.scss';

.workshop-container {
  .workshop-description{
    margin-bottom: 30px;
  }
  .header-color {
    color: $mainFontColor;

    .impressionisty{
      color: #577ca5;
    }
    .solnechnyi_zakat{
      color: #d53825;
    }
    .viva_la_vida{
      color: #ed797d;
    }
    .sezann_otkroisya{
      color: #598657;
    }
    .cvety_s_natury{
      color: #9a86c7;
    }
    .koty{
      color: #694734;
    }
    .polnyi_jazz{
      color: #bb3129;
    }
    .bugry{
      color: #e9702c;
    }
    .murlyka{
      color: #75b5b9;
    }
    .podsolnuhi{
      color: #e9c017;
    }
    .rozhdestvo{
      color: #679ae1;
    }
    .portret_zimy{
      color: #818490;
    }
    .ananas{
      color: #c55434;
    }
    .voshod{
      color: #cc4b30;
    }
    .yabloki_sezanna{
      color: #da7b31;
    }
    .sovushka{
      color: #94a6b7;
    }
  }

  .workshop-images{
    text-align: center;
  }

  .workshop-sign-up-button {
    color: $buttonsOnHoverColor;
    text-align: center;
    cursor: pointer;
    display: block;
    margin: 0 auto 20px;
    background-color: $secondaryElementsColor;
    font-size: $xlMainFontSize;
    width: 25%;
    max-width: 180px;
    height: 47px;
    line-height: 47px;
    border-radius: 32px;
    border-style: none;
  }

  .workshop-details {
    ul {
      padding: 0 14px;
    }

    .nevermind, .price, .awaits {
      color: $linksOnHoverColor;
    }

    .footnote {
      color: $secondaryFontColor;
    }
  }
}

@media screen and (max-width: $xxlWidth) {
  .workshop-container {
    .workshop-sign-up-button {
      width: 24%;
    }
  }
}

@media screen and (max-width: $lgWidth) {
  .workshop-container {
    .workshop-sign-up-button {
      font-size: 18px;
      height: 45px;
      line-height: 45px;
    }
  }
}

@media screen and (max-width: $smWidth) {
  .workshop-container {
    .workshop-sign-up-button {
      font-size: 16px;
      width: 26%;
      height: 33px;
      line-height: 33px;
      margin-top: 23px;
    }
  }
}

@media screen and (max-width: $sWidth) {
  .workshop-container {
    .workshop-sign-up-button {
      width: 135px;
    }
  }
}
