@import '~/assets/scss/resources.scss';

.contacts-mobile-slider {
  display: none;
}

.contacts-wrap {
  .contacts-group-container {
    width: 100%;
    margin: 0 auto;

    .contacts-group {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .clearfix {
        width: 12px;
      }

      .contacts-main {
        display: inherit;
        flex-direction: column;
        width: 49%;
        text-align: center;
      }

      .contacts-main {
        justify-content: space-evenly;

        .contacts-school {
          h4{
            margin: 0;
          }

          p{
            margin: 5px 0 0 0;
          }

          .contacts-icon {
            img {
              width: 6%;
            }
          }
        }

        .contacts-kurskaya, .contacts-dobryninskaya {
          img {
            width: 5%;
            margin-bottom: -2px;
          }

          .metro {
            color: #954f32;
          }

          p {
            color: $secondaryFontColor;
            margin: 5px 0;
          }
        }

        .contacts-email {
          img {
            width: 13%;
          }

          p {
            margin-top: 0;
          }
        }
      }

    }
  }

  .map-container{
    width: 100%;
    margin: 0 auto;
  }
}


@media screen and (max-width: $xlWidth) {
  .contacts-wrap {
    .contacts-group-container {
      .contacts-group {
        font-size: $smMainFontSize;
      }
    }
  }
}

@media screen and (max-width: $lgWidth) {
  .contacts-wrap {
    .contacts-group-container {
      .contacts-group {
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: $smWidth) {
  .contacts-mobile-slider {
    display: block;
  }
  .contacts-wrap {
    .map-container{
      width: 100%;
      margin: 0;
    }
    .contacts-group-container {
      .contacts-group {
        height: fit-content;
        .contacts-main, .contacts-form {
          width: 100%;
        }
        .contacts-main{
          height: 350px;
        }
      }
    }
  }
}
