@font-face {
  font-family: 'Lato';
  src: url('~/assets/fonts/Lato-Regular.ttf');
  src: url('~/assets/fonts/Lato-Regular.ttf?iefix') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato bold';
  src: url('~/assets/fonts/Lato-Bold.ttf');
  src: url('~/assets/fonts/Lato-Bold.ttf?iefix') format('truetype');
  font-weight: bold;
  font-style: normal;
}