@import '~/assets/scss/resources.scss';

.about-me {
  width: 58%;
  margin: 0 auto;

  &-container {
    width: 86%;
    margin: 0 auto;
    text-align: justify;
    .my-portrait{
      img{
        width: 100%;
      }
    }
  }

  &-signature{
    img{
      display: block;
      margin-top: -60px;
      margin-left: auto;
      width: 30%;
    }
  }

  &-ask{
    margin-top: -45px;
    &__header{
      color: $secondaryElementsColor;
    }
  }

  > h3{
    text-align: center;
  }

}